<div class="container">
  <div class="filter mb-4">
    <label for="classFilter">Filter by Class:</label>
    <select style="margin-left: 10px" id="classFilter" [(ngModel)]="classFilter">
      <option value="">All Classes</option>
      <option *ngFor="let cls of filteredClasses" [value]="cls">{{ cls }}</option>
    </select>
  </div>

  <div *ngFor="let cls of filteredClasses">
    <ng-container *ngIf="groupedPlayers[cls]?.length">
      <h3>{{ cls }}</h3>
      <table class="table" style="width: 100%">
        <thead>
          <tr style="text-align: left">
            <th style="width: 20%">Name</th>
            <th style="width: 20%">Last Seen</th>
            <th style="width: 20%">Spec</th>
            <th style="width: 20%">Soft BiS</th>
            <th style="width: 20%">Hard BiS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of groupedPlayers[cls]">
            <td>{{ player.name }}</td>
            <td>{{ player.lastSeen | date:'short' }}</td>
            <td>
              <select [(ngModel)]="player.spec" (ngModelChange)="updateSpec(player, $event)">
                <option *ngFor="let spec of getSpecOptionsForPlayer(player)" [value]="spec">
                  {{ spec }}
                </option>
              </select>
            </td>
            <td>{{ getSoftBisCount(player) }}</td>
            <td>{{ getHardBisCount(player) }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>


</div>