<div class="container">
  <div style="display: flex; justify-content: space-between;">

    <div class="filter mb-4">
      <label for="classFilter">Filter by Class:</label>
      <select style="margin-left: 2px;" id="classFilter" [(ngModel)]="classFilter" (change)="updateQueryParams()">
        <option value="">All Classes</option>
        <option *ngFor="let cls of filteredClasses" [value]="cls">{{ cls }}</option>
      </select>

      <label style="margin-left: 10px;" for="nameSearch">Search by Name:</label>
      <input style="margin-left: 2px;" id="nameSearch" [(ngModel)]="nameSearch" (input)="updateQueryParams()" />
    </div>

    <div style="display: flex; align-items: center;">
      <button *ngIf="!editMode && ($user | async)" (click)="tryToggleEdit()" title="Edit">✏️ Edit</button>
      <button style="margin-left: 10px;" (click)="copyTableToClipboard()">
        {{ copied ? 'Copied!!!' : 'ASCII' }}
      </button>
    </div>

  </div>

  <table class="table" style="table-layout: fixed; width: 100%; margin-top: 16px;">
    <thead>
      <tr style="text-align: left;">
        <th style="width: 25px;">
          <input type="checkbox" [checked]="areAllFilteredSelected()"
            (change)="toggleSelectAll($event.target.checked)" />
        </th>
        <th style="width: 14%" (click)="setSort('name')">
          Name
          <span *ngIf="sortColumn === 'name'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th style="width: 14%" (click)="setSort('class')">
          Class
          <span *ngIf="sortColumn === 'class'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th style="width: 14%">
          Spec
        </th>
        <th style="width: 14%" (click)="setSort('softBis')">
          Soft BiS
          <span *ngIf="sortColumn === 'softBis'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th style="width: 14%" (click)="setSort('hardBis')">
          Hard BiS
          <span *ngIf="sortColumn === 'hardBis'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th (click)="setSort('lastSeen')">
          Last Seen
          <span *ngIf="sortColumn === 'lastSeen'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th (click)="setSort('coreRaider')" style="text-align: center;">Core Raider
          <span *ngIf="sortColumn === 'coreRaider'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of filteredPlayers">
        <td style="width: 25px;"><input type="checkbox" [checked]="isSelected(player.name)"
            (change)="toggleSelection(player.name)" /></td>
        <td><a style="text-decoration: none;" [routerLink]="['/bis-list/player', player.name]">{{ player.name }}</a>
        </td>
        <td>{{ player.class }}</td>
        <td>
          <select *ngIf="editMode && ($user | async) as user" [(ngModel)]="player.spec"
            (ngModelChange)="updateSpec(player, $event)">
            <option [value]="spec"></option>
            <option *ngFor="let spec of getSpecOptionsForPlayer(player)" [value]="spec">{{ spec }}</option>
          </select>
          <span *ngIf="!( $user | async ) || !editMode">{{ player.spec == "undefined" ? null : player.spec }}</span>
        </td>
        <td>{{ getSoftBisCount(player) }}</td>
        <td>{{ getHardBisCount(player) }}</td>
        <td>{{ player.lastSeen | date:'short' }}</td>
        <td style="text-align: center;">
          <input *ngIf="editMode && ($user | async) as userr" type="checkbox" [checked]="player.core"
            (change)="toggleCore(player)" />
          <span *ngIf="!( $user | async ) || !editMode">{{ player.core ? '✔' : 'No' }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>