<div class="container">
  <div class="tabs" role="tablist">

    <!-- Class Buttons -->
    <div class="tabs-classes">
      <button *ngFor="let cls of classes; index as i; trackBy: trackByClass"
        [ngStyle]="{ 'background-color': i === active ? '#1E88E5' : 'transparent', 'color': i === active ? 'white' : 'inherit' }"
        (click)="active=i; openClass(cls)" role="tab" [attr.aria-selected]="i===active">
        {{ cls }}
      </button>

    </div>
    <div>
      <button class="json-btn" (click)="downloadGearJson()" title="Get JSON">📋 JSON</button>
      <ng-container *ngIf="$user | async as user">
        <button *ngIf="!editMode" class="edit-btn" (click)="tryToggleEdit()" title="Edit">✏️ Edit</button>
        <ng-container *ngIf="editMode">
          <button class="save-btn" (click)="saveEdits()" title="Save"
            [disabled]="!selectedClass || !selectedSpec || !isDirty">💾 Save</button>
          <button class="cancel-btn" (click)="cancelEdits()" title="Cancel">✖️ Cancel</button>
        </ng-container>
      </ng-container>
    </div>
    <!-- <button *ngFor="let cls of classes; index as i; trackBy: trackByClass" [class.active]="i===active"
      (click)="active=i; openClass(cls)" role="tab" [attr.aria-selected]="i===active">
      {{ cls }}
    </button> -->
  </div>

  <div class="panel" *ngIf="classes.length">
    <ng-container *ngIf="classes[active] as current">
      <div class="spec-list">
        <a *ngFor="let spec of classSpecs(current); trackBy: trackBySpec"
          [ngStyle]="{ 'background-color': selectedSpec === spec ? '#FF4081' : 'transparent', 'color': selectedSpec === spec ? 'white' : 'inherit', 'padding': '4px 8px', 'border-radius': '4px' }"
          (click)="openSpec(current, spec)">
          {{ spec }}
        </a>
      </div>
    </ng-container>
  </div>

  <app-spec-detail id="spec-detail" *ngIf="selectedClass && selectedSpec && selectedBlock" [cls]="selectedClass!"
    [spec]="selectedSpec!" [specBlock]="selectedBlock!" [editMode]="editMode">
  </app-spec-detail>
</div>

<footer style="text-align: center; padding: 1em; margin-top: 2em; font-size: 0.9em; color: #999;">
  Made by Èvé with ❤️
</footer>