<!-- Sticky global header -->
<div class="header-wrapper">
  <div class="header-container">
    <div class="global-header">
      <div class="gh-left">
        <span class="logo"><a routerLink="/players" [queryParams]="{sort: 'parse_desc', core: 'true'}">CRASHOUT</a></span>
        <span style="margin-left: 15px;"><a routerLink="/players" [queryParams]="{sort: 'parse_desc', core: 'true'}">Players</a> </span>
      </div>
      <div class="gh-right">
        <span><a routerLink="/bis-list">BiS Lists</a> </span>
        <button style="margin-left: 15px;" *ngIf="!($user | async)" (click)="login()">Login</button>
        <img style="margin-left: 15px;" *ngIf="$user | async as user"
          [src]="'https://cdn.discordapp.com/avatars/' + user.id + '/' + user.avatar + '.png'" class="profile-pic"
          alt="Profile" />
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 80px;"></div>


<router-outlet></router-outlet>