.app-title {
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.header-container {
  max-width: 1100px;
  margin: 0px auto;
}

.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 12px;
}

.header-wrapper {
  position: fixed;
  width: 100%;
  background: lightskyblue;
  top: 0;
}

.global-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 10px 0;
}

.gh-right,
.gh-left {
  display: flex;
  align-items: center;
}

@media (max-width: 1100px) {
  .gh-right {
    padding-right: 16px;
  }
  .gh-left {
    padding-left: 16px;
  }
}

.logo {
  font-weight: 800;
  color: black;
  font-size: 24px;
}
