<!-- Sticky global header -->
<div class="header-wrapper">
  <div class="header-container">
    <div class="global-header">
      <div class="gh-left">
        <span class="logo">CRASHOUT</span>
        <span style="margin-left: 15px;"><a routerLink="/bis-list">BiS List</a> </span>
      </div>
      <div class="gh-right">
        <ng-container>
          <span><a routerLink="/bis-admin">Admin</a> </span>
          <button mat-button *ngIf="!($user | async)" (click)="login()">Login</button>
          <img *ngIf="$user | async as user"
            [src]="'https://cdn.discordapp.com/avatars/' + user.id + '/' + user.avatar + '.png'" class="profile-pic"
            alt="Profile" />
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 80px;"></div>


<router-outlet></router-outlet>