.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 64px;
  font-weight: bold;
  background-color: #000;
  color: #0ff;
}

.hover-link{
  text-decoration: none;
  color: #0ff;
}

.hover-link:hover {
  color: midnightblue;
  cursor: pointer;
}
