<div class="container">
    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error">{{ error }}</div>

    <div *ngIf="player && !loading">
        <img [src]="player.image" [alt]="'image of ' + player.name">
        <h2>{{ player.name }} <span>({{ player.class }})</span></h2>
        <p><strong>Spec:</strong> {{ player.spec || 'Not set' }}</p>
        <p><strong>Core:</strong> {{ player.rank <= 3 ? 'Yes' : 'No' }}</p>


        <character-sheet [player]="player"></character-sheet>


        <h3>Rate Attendance (last 4 weeks) {{ player.attendance.rate | number: '1.0-0' }}%</h3>
        <table style="width: 50%;" class="table table-bordered">    
            <thead>
                <tr>
                    <th style="text-align: left;">Raid</th>
                    <th style="text-align: left;">Date</th>
                    <th style="text-align: left;">Attended</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let raid of player.attendance.history">
                    <td>{{ raid.name }}</td>
                    <td>{{ raid.start | date:'mediumDate' }}</td>
                    <td>{{ raid.attended ? '✔' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
        <!-- <h3>Gear</h3>
        <div *ngFor="let slot of getItemSlots(player.items)">
            
            <h4>{{ slot }}</h4>
            <ul>
                <li *ngFor="let item of player.items[slot]">
                    <gear-image [itemId]="item.id"/>
                    <a [href]="wowhead(item.id)" target="_blank" rel="noopener">{{ item.name }}</a>
                </li>
            </ul>
        </div> -->
    </div>
</div>