<div class="character-sheet" *ngIf="player">
    <div style="display: flex;">
        <div class="left-column">
            <slot-component [bisListItems]="getBisListItems('HEAD')" [slot]="player.items.HEAD" />
            <slot-component [bisListItems]="getBisListItems('NECK')" [slot]="player.items.NECK" />
            <slot-component [bisListItems]="getBisListItems('SHOULDER')" [slot]="player.items.SHOULDER" />
            <slot-component [bisListItems]="getBisListItems('BACK')" [slot]="player.items.BACK" />
            <slot-component [bisListItems]="getBisListItems('CHEST')" [slot]="player.items.CHEST" />
            <slot-component [bisListItems]="getBisListItems('SHIRT')" [slot]="player.items.SHIRT" />
            <div class="frame iron" id="tabard-slot"></div>
            <slot-component [bisListItems]="getBisListItems('WRIST')" [slot]="player.items.WRIST" />
        </div>
        <div class="right-column">
            <slot-component [bisListItems]="getBisListItems('HANDS')" [slot]="player.items.HANDS" position="right" />
            <slot-component [bisListItems]="getBisListItems('WAIST')" [slot]="player.items.WAIST" position="right" />
            <slot-component [bisListItems]="getBisListItems('LEGS')" [slot]="player.items.LEGS" position="right" />
            <slot-component [bisListItems]="getBisListItems('FEET')" [slot]="player.items.FEET" position="right" />
            <slot-component [bisListItems]="getBisListItems('FINGER_1')" [slot]="player.items.FINGER_1" position="right" />
            <slot-component [bisListItems]="getBisListItems('FINGER_2')" [slot]="player.items.FINGER_2" position="right" />
            <slot-component [bisListItems]="getBisListItems('TRINKET_1')" [slot]="player.items.TRINKET_1" position="right" />
            <slot-component [bisListItems]="getBisListItems('TRINKET_2')" [slot]="player.items.TRINKET_2" position="right" />
        </div>
    </div>
    <div style="margin-top: 25px;" class="row">
    <slot-component [bisListItems]="getBisListItems('MAIN_HAND')" [slot]="player.items.MAIN_HAND" position="bottom" />
    <slot-component [bisListItems]="getBisListItems('OFF_HAND')" [slot]="player.items.OFF_HAND" position="bottom" />
        <slot-component [bisListItems]="getBisListItems('RANGED')" [slot]="player.items.RANGED" position="bottom" />
    </div>
</div>