<div class="character-sheet" *ngIf="player">
    <div style="display: flex;">
        <div class="left-column">
            <slot-component [bisListItems]="getBisListItems('HeadSlot')" [slot]="player.items.HeadSlot" />
            <slot-component [bisListItems]="getBisListItems('NeckSlot')" [slot]="player.items.NeckSlot" />
            <slot-component [bisListItems]="getBisListItems('ShoulderSlot')" [slot]="player.items.ShoulderSlot" />
            <slot-component [bisListItems]="getBisListItems('BackSlot')" [slot]="player.items.BackSlot" />
            <slot-component [bisListItems]="getBisListItems('ChestSlot')" [slot]="player.items.ChestSlot" />
            <slot-component [bisListItems]="getBisListItems('ShirtSlot')" [slot]="player.items.ShirtSlot" />
            <div class="frame iron" id="tabard-slot"></div>
            <slot-component [bisListItems]="getBisListItems('WristSlot')" [slot]="player.items.WristSlot" />
        </div>
        <div class="right-column">
            <slot-component [bisListItems]="getBisListItems('HandsSlot')" [slot]="player.items.HandsSlot" position="right" />
            <slot-component [bisListItems]="getBisListItems('WaistSlot')" [slot]="player.items.WaistSlot" position="right" />
            <slot-component [bisListItems]="getBisListItems('LegsSlot')" [slot]="player.items.LegsSlot" position="right" />
            <slot-component [bisListItems]="getBisListItems('FeetSlot')" [slot]="player.items.FeetSlot" position="right" />
            <slot-component [bisListItems]="getBisListItems('Finger0Slot')" [slot]="player.items.Finger0Slot" position="right" />
            <slot-component [bisListItems]="getBisListItems('Finger1Slot')" [slot]="player.items.Finger1Slot" position="right" />
            <slot-component [bisListItems]="getBisListItems('Trinket0Slot')" [slot]="player.items.Trinket0Slot" position="right" />
            <slot-component [bisListItems]="getBisListItems('Trinket1Slot')" [slot]="player.items.Trinket1Slot" position="right" />
        </div>
    </div>
    <div style="margin-top: 25px;" class="row">
        <slot-component [bisListItems]="getBisListItems('MainHandSlot')" [slot]="player.items.MainHandSlot" position="bottom" />
        <slot-component [bisListItems]="getBisListItems('SecondaryHandSlot')" [slot]="player.items.SecondaryHandSlot" position="bottom" />
        <slot-component [bisListItems]="getBisListItems('RangedSlot')" [slot]="player.items.RangedSlot" position="bottom" />
    </div>
</div>