html,
body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif;
    background: #101010;
    color: #D3D3D3;
}

a {
    color: #bbb;
    text-decoration: none;
}

a:hover {
    color: #3660d4;
}